<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
        <script src="{{ url_for('static', filename='dashboard_funs.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="tasks">
                    {% for (id,challenge_desc, file_id) in data.challenges %}
                    {{challenge_desc}}
                        <div class="category">
                            <div class="category-challenge-desc">
                                <button class="arrow-button" onclick="window.location='/challengedesc/{{file_id}}';">CHALLENGE DESCRIPTION</button>
                            </div>
                            <div class="category-upload">
                                <button class="arrow-button" onclick="window.location='/upload/{{id}}';">UPLOAD CHALLENGE</button>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="content">
                <button class="arrow-button" onclick="window.location='/watch';">RANDOM WATCH</button>
            </div>
        </div>
    </body>
</html>