<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            let sources = [
                {% for (id, uploader, challenge_id, likes) in data.movies %}
                        ["{{url_for('get_video', name=id)}}", "{{uploader}}", {{likes}}, {{id}}],
                {% endfor %}
            ];
             let counter = 0;

             function refersh_movie_details() {
                document.getElementById("player-source").setAttribute('src', sources[counter][0]);
                document.getElementById("player").load();
                document.getElementById("likes-number").innerHTML = sources[counter][2];
                document.getElementById("uploader").innerHTML = sources[counter][1];
                get_likes();
             }
             function get_movie() {
                if (sources.length > 0) {
                    counter += 1;
                    counter %= sources.length;
                    refersh_movie_details();
                }
            }
            function get_movie_dec() {
                if (sources.length > 0) {
                    counter -= 1;
                    counter += sources.length;
                    counter %= sources.length;
                    refersh_movie_details()
                }
            }
            let liked = []
            function like() {
                $.ajax({
                    type: 'POST',
                    url: "/like/" + String(sources[counter][3]),
                    data: {},
                    dataType: 'text',
                    success: function (response) {
                        get_likes();
                    }
                })
            }

            function get_likes() {
                $.ajax({
                    type: 'GET',
                    url: "/get_likes/" + String(sources[counter][3]),
                    success: function (data) {
                        console.log(data);
                        // var data = JSON.parse(String(response));
                        document.getElementById("likes-number").innerHTML = data.likes;
                        if (data.is_liked) {
                            document.getElementById("like-button").style.color = "red";
                        }
                        else {
                            document.getElementById("like-button").style.color = "blue";
                        }
                    }
                })
            }
             
        </script>
    </head>
    <body onload="get_movie()">
        <div class="dashboard-container">
            <div class="dsahboard-button-cover" style="padding-left: 4vw;">
                <button class="arrow-button" onclick="window.location='/dashboard'">Go back to dashboard</button>
            </div>
        </div>
        <div class="container">
            <div class="left-slider">
                <div class="button">
                    <button class="dot" style="padding-left: 10%;" onclick="get_movie_dec()">
                        <i class="fa fa-angle-left"> </i>
                    </button>
                </div>
            </div>
            <div class="content">
                <div class="content-video">
                    <video id="player" height="95%" width="100%" controls autoplay muted loop>
                        <source id="player-source" type="video/mp4" >
                    </video>
                </div>
                <div class="content-info">
                    <div class="likes-container">
                        <b id="likes-number" style="color: white;">10</b>
                        <button onclick="like()" id="like-button" style="color: red;">🤙</button>
                    </div>
                    <div class="uploader-container">
                        <b id="uploader">uploader</b>
                    </div>
                </div>
            </div>
            <div class="right-slider">
                <div class="button">
                    <button class="dot" style="padding-right: 10%;" onclick="get_movie()">
                        <i class="fa fa-angle-right"> </i>
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>