<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <div class="container">
            <div class="content">
                <video id="player" height="95%" width="100%" controls autoplay muted loop>
                    <source id="player-source" type="video/mp4" src="{{ url_for('get_video', name=data.filename) }}">
                </video>
            </div>
        </div>
    </body>
</html>